*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Varela Round", sans-serif;
}

body {
  font-size: 14px;
  color: #2c334d;
  background-color: #fafcfd;
  margin: 0;
}

[contenteditable] {
  outline: none;
}
